* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .header{
    width: 100%;
    display: inline-block;
    background-color: rgba(0,139, 139,0.8);
    padding: 10px 15px;
    margin: 0 auto;
    margin-bottom: 0px;
    align-items: center; 
  }

  .banner-container {
    background-color: #D6E9FE;
    display: flex;
    justify-content: center;
  }
  
  .banner {
    width: 900px;
    height: 300px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  .menu-container {
    color: #fff;
    background-color: #5995DA;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
  }
  
  .menu {
    border: 1px solid #fff;
    width: 900px;
    display: flex;
    justify-content: space-between;
  }

  .database {
    display: flex;
    justify-content: flex-end;
    border: 1px solid #fff;
  }

  .main-page {
    margin-left: 20px;
  }

  .demos {
    margin-left: auto;
  }

  .date {
    margin-left: 0px;
  }

  .logo {
    width: 100%;
    display: flex;
    padding: 10px 15px;
    margin: 0 auto;
    margin-bottom: 0px;
    height: 300px;
    justify-content: center;
    align-items: center;
  }

  .project {
    align-self: flex-end;
    margin-bottom: 20px;
  }

  .my-github {
    align-self: flex-end;
    margin-bottom: 20px;
  }

  .photo-grid-container {
    display: flex;
    justify-content: center;
  }

  .photo-grid {
    width: 900px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
  }
  
  .first-item {
    order: 1;
  }
  
  .last-item {
    order: -1;
  }

  .photo-grid-item {
    border: 1px solid #fff;
    width: 300px;
    height: 300px;
  }

  .carousel {
    overflow: hidden;
    max-width: 600px;
    position: relative;
  }
  
  .carousel .carousel_item,
  .carousel .carousel_item--hidden {
    display: none;
  }
  
  .carousel .carousel_item img {
    width: 100%;
    max-width: 600px;
    height: auto;
  }
  
  .carousel .carousel_item--visible {
    display: block;
    animation: fadeVisibility 0.5s;
  }
  
  .carousel .carousel_actions {
    display: flex;
    width: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .carousel .carousel_actions button {
    border-radius: 50px;
    border: 0;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    height: 40px;
  }
  
  .carousel .carousel_actions button#carousel_button--prev {
    margin-left: 20px;
  }
  
  .carousel .carousel_actions button#carousel_button--next {
    margin-right: 20px;
  }

  .database-container {
    color: #fff;
    background-color: #5995DA;  /* Blue */
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
  }

  .footer-item {
    background-color: #D6E9FE;
    display: flex;
    height: 200px;
    flex: 1;
}

  .footer {
    display: flex;
    background-color: #D6E9FE;
    justify-content: space-between;
  }
  
  .footer-one {
    background-color: #5995DA;
    flex: initial;
    width: 300px;
  }

  .footer-three {
    background-color: #5995DA;
    flex: initial;
    width: 300px;
  }

  @keyframes fadeVisibility {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: opacity linear;
    }
  }