* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    margin: 0;
    padding: 0;
    font-family: ‘Segoe UI’, Candara, ‘Bitstream Vera Sans’, ‘DejaVu Sans’,
      ‘Bitsream Vera Sans’, ‘Trebuchet MS’, Verdana, ‘Verdana Ref’, sans-serif;
    background-color: darkred;
  }

  #map { height: 360px; }
  
  html {
    background-color: darkred;
  }
  
  /* Page Layout */
  .columns {
    display: flex;
    flex-wrap: wrap;
  }
  
  .wrapper {
    display: flex;
  }
  .container {
    max-width: 960px;
    margin-top: 25px;
  }

  .page_item {
      display: flex;
      flex-direction: column;
      padding: 15px;
      border-radius: 4px;
      background-color: white;
      height: fit-content;
  }

  .page_item_wide {
      width: 640px;
  }

  .form_item {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      margin: 5px;
  }
  
  /* Mobile Styles */
  @media only screen and (max-width: 400px) {
    .columns {
      width: 100%;
    }
  }